@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap');

:root {
  --color-dark: #000;
  --color-dark-400: #333;
  --color-dark-600: #555;

  --color-light: #fff;
  --color-light-400: #f4f4f4;
  --color-light-600: #ccc;

  --transition-fast: .2s;
  --transition-medium: .3s;
  --transition-slow: .5s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utilities */
input {
  border-radius: 5px;
  border: none;
  outline: none;
  padding: .5rem 1rem;
  font-family: inherit;
  color: var(--color-dark);
}

.btn {
  padding: .5rem 1rem;
  border: 1px solid var(--color-dark-400);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition-fast) all ease;
  font-weight: bolder;
}

.btn:hover {
  background: var(--color-dark);
  color: var(--color-light);
}

body {
  font-family: 'News Cycle', sans-serif;
  line-height: 1.6;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

/* Header */
header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.search-wrapper {
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
  overflow: hidden;
  transition: var(--transition-medium) width ease;
}

.search-wrapper label {
  padding: .5rem;
  z-index: 1;
  cursor: pointer;
}

.search-wrapper .search-input-wrapper {
  position: relative;
  justify-self: end;
  transition: var(--transition-medium) width ease;
  overflow: hidden;
}

.search-input-wrapper .input-border {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 1px;
  background: var(--color-dark-400);
  transition: var(--transition-medium) all .15s ease;
}

.search-wrapper input:focus ~ .input-border,
.search-wrapper input:not(:placeholder-shown) ~ .input-border {
  width: 100%;
}

.search-wrapper .search-input-wrapper input {
  padding-left: .25rem;
}

.search-wrapper .clear-btn {
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  font-size: .85rem;
  color: var(--color-dark-600);
}

.search-wrapper input:not(:placeholder-shown) ~ .clear-btn {
  opacity: .75;
  visibility: visible;
  pointer-events: auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}

/* Today Weather */
section {
  max-width: 900px;
  width: 100%;
  background: var(--color-light-200);
  border-radius: 20px;
  position: relative;
  min-height: 30vh;
  overflow: hidden;
}

section .weather-overview,
section .weather-details {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: .25s all ease;
}

.today-weather > div.active {
  opacity: 1;
  visibility: visible;
  animation: carousel .5s ease forwards;
}

section .next-btn,
section .previous-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  opacity: .5;
  transition: var(--transition-fast) all ease;
  opacity: 0;
  visibility: hidden;
}

section .next-btn.show,
section .previous-btn.show {
  opacity: .5;
  visibility: visible;
}

section .next-btn {
  right: 0;
}

section .previous-btn:hover,
section .next-btn:hover  {
  opacity: .75;
}

section .indicator-wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

section .indicator-wrapper .indicator-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  overflow: hidden;
  border-radius: 20px;
  height: min-content;
  margin: .5rem 0;
}

section .indicator-wrapper .indicator-container .indicator-active {
  position: absolute;
  content: '';
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--color-dark-600);
  z-index: 1;
  cursor: pointer;
}

section .indicator-wrapper .indicator-container > div {
  width: 10px;
  height: 10px;
  background: var(--color-light-600);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

section .indicator-wrapper .indicator-container > div:hover {
  background: var(--color-dark-600);
}

/* Overview */
.overview-wrapper {
  padding: 1rem;
  width: inherit;
  height: inherit;
  display: grid;
  grid-template-columns: .5fr .5fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.overview-wrapper .current-temp {
  grid-row: 1 / -1;
  font-size: 4rem;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overview-wrapper .temp-max-min {
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 500;
}

.overview-wrapper .conditions {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.overview-wrapper .conditions-icon {
  grid-column: 3 / 4;
  grid-row: 1 / -1;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overview-wrapper .conditions-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Details */
.details-wrapper {
  height: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .5rem;
  align-items: center;
  justify-content: center;
}

.details-wrapper > div {
  padding: .5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background: var(--color-light);
  border-radius: 20px;
  height: 100%;
  cursor: pointer;
  transition: var(--transition-fast) transform ease-in-out;
  border: 1px solid var(--color-light-600);
}

.details-wrapper > div:not(.sun) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content 1fr;
}

.details-wrapper > div:not(.sun) > i {
  grid-row: span 2;
  font-size: 2rem;
}

.details-wrapper > div:not(.sun) > .content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-wrapper .wind .content {
  flex-direction: row-reverse;
  justify-content: space-between !important;
}

.details-wrapper .wind .content i {
  font-size: 1.5rem;
}

.details-wrapper > div:hover {
  transform: scale(1.025);
}

.details-wrapper .uv-index .content {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  color: var(--color-light);
  background: red;
}

.details-wrapper .sun {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-wrapper .sun > div {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.details-wrapper .sun > div::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
  width: calc(100% - 1.75rem);
  border-radius: 50%;
  height: 300px;
  border: 1px solid darkgoldenrod;
}

.details-wrapper .sun > div > div {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background: var(--color-light);
  z-index: 1;
}

.details-wrapper .sun > div > div::before {
  content: '';
  top: 7.5px;
  position: absolute;
  width: 100%;
  height: 1px;
  background: var(--color-dark);
  z-index: -1;
}

.details-wrapper .sun > div > div .sunrise-icon,
.details-wrapper .sun > div > div .sunset-icon {
  align-self: flex-start;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid var(--color-light-600);
  background: yellow;
  margin: 0 1rem;
}

.details-wrapper .sun > div > div > div {
  align-self: flex-start;
  font-size: 1rem;
  font-weight: bold;
}

.details-wrapper .sun > div > div > .sunrise-text,
.details-wrapper .sun > div > div > .sunset-text {
  font-size: .75rem;
  font-weight: initial;
}

.details-wrapper .sun > div > .sunset > div {
  align-self: flex-end;
}

/* Weekly Weather */
.weekly-weather {
  max-width: 700px;
  border: 1px solid var(--color-light-600);
}

.weekly-wrapper {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: center;
  justify-content: center;
}

.weekly-wrapper .day-wrapper {
  width: 100%;
  display: grid;
  align-items: center;
  border: 1px solid var(--color-light-600);
  border-radius: 15px;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  grid-template-columns: 1fr 1fr .5fr;
}

.weekly-wrapper .day-wrapper .day-name {
  flex-basis: 50%;
}

.weekly-wrapper .day-wrapper .icons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.weekly-wrapper .day-wrapper .icons-wrapper > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.weekly-wrapper .day-wrapper .icons-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.weekly-wrapper .day-wrapper .temp-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

/* Loading Screen */
.loading-screen,
.error-screen {
  width: 100%;
  height: calc(100vh - 2rem);
}

.loading-wrapper,
.error-wrapper {
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading-wrapper i {
  font-size: 5rem;
  animation: loading 1s ease forwards infinite;
}

.loading-wrapper .loading-circle {
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: conic-gradient(var(--color-dark-600) 90%, var(--color-light) 0);
  animation: loading-rotate 1s linear infinite;
  opacity: .75;
}

.loading-wrapper .loading-circle::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2rem;
  height: 2rem;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: var(--color-light);
}

/* Error */
.error-wrapper {
  text-align: center;
  font-size: 2rem;
}

.error-wrapper i {
  font-size: 5rem;
}

@keyframes slide-left-show {
  0% {
    transform: translateX(100%);
    filter: blur(10px);
  }
  
  100% {
    transform: translateX(0);
    filter: blur(0);
  }
}

@keyframes slide-right-show {
  0% {
    transform: translateX(-100%);
    filter: blur(10px);
  }
  
  100% {
    transform: translateX(0);
    filter: blur(0);
  }
}

@keyframes slide-left-hide {
  0% {
    transform: translateX(0);
    filter: blur(10px);
  }
  
  50% {
    transform: translateX(100%);
    filter: blur(0);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slide-right-hide {
  0% {
    transform: translateX(0);
    filter: blur(10px);
  }
  
  50% {
    transform: translateX(-100%);
    filter: blur(0);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes indicator {
  0% {
    width: 10px;
    border-radius: 50%;
    left: 0;
  }

  50% {
    width: calc(20px + 1rem);
    border-radius: 10px;
    left: 0;
  }

  100% {
    left: calc(100% - 10px);
    width: 10px;
    border-radius: 50%;
  }
}

@keyframes loading {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-30%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes loading-rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}